Client/UserSettings
Client/.vscode
Client/Library
Client/Logs
Client/Temp
Client/.vsconfig
Client/Assembly-CSharp.csproj
Client/Assembly-CSharp-Editor.csproj
Client/Client.sln
Client/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
Client/obj
Client/.vs
